<div class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: #EA5B0D">
        <h2 class="gh-post-upgrade-cta-title">Register a free account to continue reading</h2>
        {{!-- <p class="gh-post-upgrade-cta-description">
            Sign up now to get access to the full article and more.
        </p> --}}
        <a class="gh-btn gh-primary-btn" style="color:#EA5B0D" href="#/portal/signup" data-portal="signup">
            <span>Sign up for free</span>
        </a>
        <p class="gh-post-upgrade-cta-footer">
            Already have an account? <a href="#/portal/signin" data-portal="signin">Sign in</a>
        </p>
    </div>
</div>
